<% javascript 'log' %>
<div class="row">
  <div class="col-sm-12">
    <section class="panel">
      <header class="panel-heading">
        Log Data List Table&nbsp;
        <%= image_tag("ajax-loader.gif", alt: 'loader', id: 'loader') %>
      </header>
      <div class="panel-body">
        <table class="table  table-hover general-table">
          <thead>
          <tr>
            <th>時間</th>
            <th>客戶端 IP</th>
            <th>機器序號</th>
            <th>事件</th>
          </tr>
          </thead>
          <tbody id="log_content">
          <% @logs.each do |log| %>
            <tr>
              <td><%= log.DateTime %></td>
              <td><%= log.RemoteIP %></td>
              <td><%= log.DeviceSN %></td>
              <td><%= trans_status log.CmdType %><%= raw("&nbsp;<span class='badge bg-inverse'>"+log.SongNumber+'</span>') unless log.SongNumber.nil? %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>
