<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        Basic validations
      </header>
      <div class="panel-body">
        <div class="form">
          <%= form_for @device, html:{role: 'form', class: 'form-horizontal'} do |f| %>
            <% if @device.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@device.errors.count, "error") %> prohibited this user from being saved:</h2>
                <ul>
                  <% @device.errors.full_message.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group">
              <%= f.label :SerialNumber, '機器序號：', class:'control-label col-lg-3' %>
              <div class="col-lg-6">
                <%= f.text_field :SerialNumber, class:'form-control'  %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :cus_name, '承租人姓名：', class:'control-label col-lg-3' %>
              <div class="col-lg-6">
                <%= f.text_field :cus_name, class:'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :cus_uuid, '身份證字號：', class:'control-label col-lg-3' %>
              <div class="col-lg-6">
                <%= f.text_field :cus_uuid, class:'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :cus_birthday, '生日：', class:'control-label col-lg-3' %>
              <div class="col-lg-6">
                <%= f.text_field :cus_birthday, class:'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :cus_tel, '電話：', class:'control-label col-lg-3' %>
              <div class="col-lg-6">
                <%= f.text_field :cus_tel, class:'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :cus_apply_at, '申辦日期：', class:'control-label col-lg-3' %>
              <div class="col-lg-6">
                <%= f.text_field :cus_apply_at, class:'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :cus_address, '地址：', class:'control-label col-lg-3' %>
              <div class="col-lg-6">
                <%= f.text_field :cus_address, class:'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :dealer_id, '經銷商：', class:'control-label col-lg-3' %>
              <div class="col-lg-6">
                <%= f.select :dealer_id, content_tag(:option,'select one...',:value=>0)+options_from_collection_for_select(@dealers, :id, :name, @device.dealer_id), {}, class:'form-control'  %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :IsCanLogin, '狀態', class:'control-label col-lg-3' %>
              <div class="col-lg-6">
                <%= f.check_box :IsCanLogin, class:'bs-switch' %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-6">
                <%= f.submit "Save", class:'btn btn-primary' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </section>
  </div>
  <% if @device.id %>
  <div class="col-sm-12">
    <section class="panel">
      <header class="panel-heading">租約記錄</header>
      <div class="panel-body">
        <%= form_tag('/devices/addTransaction', method: :post, class:'form-inline') do %>
          <div class="form-group">
            <label for="">新增租約：</label>
          </div>
          <div class="form-group">
            <%= select_tag 'type', options_for_select([['年約', 1], ['月約', 2]]), class:'form-control' %>
          </div>
          <div class="form-group">
              <%= text_field_tag 'start_date', '',class:'form-control', placeholder:'開始日期' %>
          </div>
          <div class="form-group">
              <%= text_field_tag 'end_date', '',class:'form-control', placeholder: '結束日期' %>
          </div>
          <%= hidden_field_tag 'device_id', @device.id %>
          <%= submit_tag '送出', class:'btn btn-info' %>
        <% end %>
        <table class="table  table-hover general-table">
          <thead>
          <tr>
            <th>類型</th>
            <th>起始日</th>
            <th>結束日</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @transaction.each do |t| %>
          <tr>
            <td><%= t.type==1?'年約':'月約' %></td>
            <td><%= t.start_date %></td>
            <td><%= t.end_date %></td>
            <td><%= link_to '刪除', devices_deleTransaction_path(t), method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger btn-xs' %></td>
          </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </section>
  </div>
  <% end %>
</div>