<% content_for :pageTitle, '歌星資料管理' %>
<div class="row">
  <div class="col-sm-12">
    <section class="panel">
      <header class="panel-heading">
        歌星資料
      </header>
      <div class="panel-body">
        <table class="table table-striped table-hover general-table">
          <thead>
          <tr>
            <th>歌星名稱 (繁)</th>
            <th>歌星名稱 (簡)</th>
            <th>組合</th>
            <th>國別</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <% @singers.each do |singer| %>
            <tr>
              <td><%= singer.SingerNameT %> <span class="badge bg-success"><%= singer.NameIndexT %></span></td>
              <td><%= singer.SingerNameC %> <span class="badge bg-success"><%= singer.NameIndexC %></span></td>
              <td><%= singer_kind singer.Class %></td>
              <td><%= singer.country.name if(singer.Country > 0) %></td>
              <td>
                <%= link_to '顯示', singer, class:'btn btn-xs btn-info' %>
                <%= link_to '修改', edit_singer_path(singer), class:'btn btn-xs btn-success' %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <%= will_paginate @singers %>
      </div>
    </section>
  </div>
</div>
<%= link_to '新增歌星', new_singer_path, class:'btn btn-default' %>
