<div class="row">
  <div class="col-sm-12">
    <section class="panel">
      <header class="panel-heading">
        帳號資料
      </header>
      <div class="panel-body">
        <table class="table general-table table-striped">
          <tbody>
            <tr>
              <th> 帳號名稱</th>
              <td> <%= @user.name %></td>
            </tr>
            <tr>
              <th> 帳號</th>
              <td> <%= @user.email %></td>
            </tr>
            <tr>
              <th> 帳號狀態</th>
              <td> <%= status_label @user.status %></td>
            </tr>
            <tr>
              <th> 帳號角色</th>
              <td> <%= role_label @user.role, @user %></td>
            </tr>
          </tbody>
        </table>
        <%= link_to 'Back', users_path %>
      </div>
    </section>
  </div>
</div>