<aside>
  <div id="sidebar" class="nav-collapse">
    <!-- sidebar menu start--> <div class="leftside-navigation">
    <ul class="sidebar-menu" id="nav-accordion">
      <li>
        <%= link_to raw('<i class="fa fa-hdd-o"></i><span>機器管理</span>'), devices_path if (is_admin? or is_staff?) %>
        <%= link_to raw('<i class="fa fa-users"></i><span>用戶管理</span>'), leases_path if (is_admin? or is_staff?) %>
        <%= link_to raw('<i class="fa fa-file-text-o"></i><span>交易記錄</span>'), transactions_index_path if (is_admin? or is_staff?) %>
        <%= link_to raw('<i class="fa fa-music"></i><span>歌曲管理</span>'), songs_path if (is_admin?) %>
        <%= link_to raw('<i class="fa fa-microphone"></i><span>歌星管理</span>'), singers_path if (is_admin?) %>
        <%= link_to raw('<i class="fa fa-key"></i><span>使用者管理</span>'), users_path if (is_admin?) %>
        <%= link_to raw('<i class="fa fa-money"></i><span>獎金報表</span>'), prices_index_path if (is_admin?) %>
        <%= link_to raw('<i class="fa fa-hdd-o"></i><span>用戶報表</span>'), leases_price_report_path if (is_admin? or is_staff? or is_dealer?) %>
        <%= link_to raw('<i class="fa fa-file-text-o"></i><span>點唱記錄</span>'), controller:'playlog', action:'index' if (is_admin? || is_staff? || is_licensees?) %>
        <%= link_to raw('<i class="fa fa-bar-chart-o"></i><span>Log</span>'), controller:'log', action:'index' if (is_admin?) %>
      </li>
    </ul></div>
    <!-- sidebar menu end-->
  </div>
</aside>
