<aside>
  <div id="sidebar" class="nav-collapse">
    <!-- sidebar menu start--> <div class="leftside-navigation">
    <ul class="sidebar-menu" id="nav-accordion">
      <li>
        <%= link_to raw('<i class="fa fa-hdd-o"></i><span>機器管理</span>'), devices_url if (is_admin? or is_staff?) %>
        <%= link_to raw('<i class="fa fa-music"></i><span>歌曲管理</span>'), songs_url if (is_admin?) %>
        <%= link_to raw('<i class="fa fa-microphone"></i><span>歌星管理</span>'), singers_url if (is_admin?) %>
        <%= link_to raw('<i class="fa fa-gavel"></i><span>版權商管理</span>'), licensees_url if (is_admin? or is_staff?) %>
        <%= link_to raw('<i class="fa fa-suitcase"></i><span>經銷商管理</span>'), dealers_url if (is_admin?) %>
        <%= link_to raw('<i class="fa fa-users"></i><span>使用者管理</span>'), users_url if (is_admin?) %>
        <%= link_to raw('<i class="fa fa-bar-chart-o"></i><span>Log</span>'), controller:'log', action:'index' if (is_admin?) %>
      </li>
    </ul></div>
    <!-- sidebar menu end-->
  </div>
</aside>