<div class="row">
  <div class="col-sm-12">
    <section class="panel">
      <header class="panel-heading">
        交易記錄清單
      </header>
      <div class="panel-body">
        <table class="table  table-hover general-table">
          <thead>
          <tr>
            <th>建立時間</th>
            <th>用戶名稱</th>
            <th>租約</th>
            <th>租約期間</th>
          </tr>
          </thead>
          <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.created_at.strftime('%Y-%m-%d %R') %></td>
              <td><%= item.lease.name %></td>
              <td><%= transaction_kind item.kind %></td>
              <td><%= item.start_date %> ~ <%= item.end_date %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <%= will_paginate @items %>
      </div>
    </section>
  </div>
</div>